# Archivos .zip #
#################
practica?.zip

# Archivos de salida #
######################
salida?.txt
bin/*
lib/*.a
obj/*.o
doc/html/
doc/latex/

# Archivos de NetBeans #
########################
build/
dist/

# Tests #
#########
*_t.*
salida.md

# Guiones #
###########
*.pdf
/practica4/build/
