# Archivos .zip #
#################
practica*.zip
zip

# Archivos de salida #
######################
salida?.txt
bin
lib/*.a
obj/*.o
doc/html/
doc/latex/

# Archivos de NetBeans #
########################
build/
dist/
nbproject/
.dep.inc
Makefile

# Tests #
#########
*_t.*
salida.md

# Guiones #
###########
*.pdf
/practica4/build/
